{% load wagtailcore_tags %}

<div class="pub-list-item p-2" itemscope=""
     itemtype="http://schema.org/CreativeWork">
    <h4 class="title1">
        {{ publication.publication_title }}
    </h4>
    <div class="title2 pt-1 pb-1">
        {% if publication.custom_styled_info %}
            {{ publication.custom_styled_info|richtext }}
        {% endif %}
        {% if not publication.custom_styled_info %}
            <span class="authors">{{ publication.authors }}</span>
            <span>In</span>
            {% spaceless %}
                <i>{{ publication.published_in }}</i>
                {% if publication.pages %}
                    <span>, pp. {{ publication.pages }}</span>
                {% endif %}
                <span>, {{ publication.publication_date|date:"M Y" }}</span>
            {% endspaceless %}
        {% endif %}
    </div>
    {% include "publications/buttons.html" with publication=publication type="conf" %}
</div>
